<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<<<<<<< HEAD
    <h1>Thank you for creating an appointment via ODP, <%= @user.first_name %> <%= @user.last_name %></h1>
    <p>
      You have an appointment on <%= @appointment.schedule.date %>.<br>,
      with <%= @appointment.doctor.user.first_name %>.<br>  <%= @appointment.doctor.user.last_name %>.<br>  
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
=======
    <h1>ขอบคุณที่ใช้บริการสร้างเวลานัดของ ODP, คุณ <%= @user.first_name + " " + @user.last_name %></h1>
    <p>
      วันนัดของคุณคือ <%= @appointment.schedule.date %>.<br>,
      กับคุณหมอ <%= @appointment.doctor_id %>.<br>
    </p>
    <p>
      กรุณาลิงค์ด้านล่างนี้เพื่อ ยืนยันนัดของคุณ
      <%= @url %>
    </p>
  </body>
</html>
>>>>>>> origin/feature/front_end
