%h2 รายการใบสั่งยา
%table.table
  %thead
    %tr
      %th ลำดับ
      %th วันที่
      %th ช่วงเวลา
      %th หมอ
      %th คนไข้
      %th สถานะ
      %th

  %tbody
    - @appointments.each_with_index do |a,i|
      %tr
        %td= i+1
        %td= a.schedule.date
        %td
          -if a.schedule.shift == 0
            = "เช้า"
          -else
            = "บ่าย"
          %th= a.doctor.user.first_name + " " + a.doctor.user.last_name
          %th= a.patient.user.first_name + " " + a.patient.user.last_name
        %td= a.status
        %td
          =link_to "ดูการนัด",a
          -if a.physical_record.weight.nil?
          -else
            =link_to "ดูบันทึก",a.physical_record
          =link_to "ดูผลการรักษา",diagnosis_record_path(id: a.id)
          -if a.status == "Done"
            =link_to "จ่ายยา" , prescription_path(id: a.id) , method: :get
