%h2= @user.persisted? ? "Edit User" : "Add User"
= simple_form_for(@user) do |f|
  = f.error_notification
  .form-inputs
    -if !@user.persisted?
      = select_tag "Role", options_for_select({ 'Admin'=>'admin','Patient'=>'patient','Staff'=>'staff','Doctor'=>'doctor','Nurse'=>'nurse','Pharmacist'=>'pharmacist'} ,'admin')
    = f.input :national_id , required: true, label: "รหัสบัตรประชาชน"
    = f.input :first_name , required: true, label: "ชื่อ"
    = f.input :last_name , required: true, label: "นามสกุล"
    = f.input :sex, collection: [ 'M', 'F'], as: :radio_buttons, label_method: :last, value_method: :first, checked: 'M', item_wrapper_class: 'inline' , label: "เพศ"
    = f.input :email , required: true, label: "อีเมลล์"
    -if !@user.persisted? || @user == current_user
      = f.input :password , required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) , label: "รหัสผ่าน"
      = f.input :password_confirmation , required: true, label: "ยืนยันรหัสผ่าน"
    -if @user.persisted? && @user == current_user
      = f.input :current_password, hint: "we need your current password to confirm your changes", required: true
    = f.input :phone_number , required: true, label: "หมายเลขโทรศัพท์"
    %label
      - if !@user.persisted?
        .role#patient
          bloodType
          = text_field_tag 'bloodType'
        .role#doctor
          proficiency
          = text_field_tag 'proficiency'
      -elsif @user.persisted?&&@user.user_type_type == 'Patient'
        bloodType
        = text_field_tag 'bloodType' , @user.user_type.bloodType
      -elsif @user.persisted?&&@user.user_type_type == 'Doctor'
        proficiency
        = text_field_tag 'proficiency' ,@user.user_type.proficiency
  .form-actions
    - btn_label = @user.persisted? ? "Update" : "Create"
    = f.button :submit, btn_label

  -if @user.persisted?
    -if @user.ban?
      =link_to 'unban' , '/unban_user/' + @user.id.to_s , :data => { :confirm => 'ยืนยันการคืนสถานะผู้ใช้?'}
    -else
      =link_to 'ban' , '/ban_user/' + @user.id.to_s , :data => { :confirm => 'ยืนยันการระงับผู้ใช้?'}

=link_to 'กลับ' , users_path
