.kn-users-show
  %h2 ประวัติผู้ใช้
  .kn-users-show__field-header
    =label_tag 'ชื่อเต็ม'
    = @user.first_name+@user.last_name
    =label_tag 'เพศ'
    = @user.sex
    = label_tag 'อีเมลล์'
    = @user.email
    = label_tag 'บทบาท'
    = @user.user_type_type
    = label_tag 'เลขรหัส'
    =@user.ext_id
    = label_tag 'หมายเลขบัตรประชาชน'
    = @user.national_id
    = label_tag 'เบอร์โทรศัพท์'
    = @user.phone_number
  -if @user.user_type_type == 'Patient'
    .div
    = label_tag 'กรุ๊ปเลือด'
    = @user.user_type.bloodType
    = label_tag'ประวัติแพ้ยา'
    = @user.user_type.allergyRecordList
    .div
      = label_tag'ประวัติการรักษา'
      %table.table
        %thead
          %tr
            %th ลำดับ
            %th วันที่
            %th ช่วงเวลา
            %th หมอ
            %th แผนก
            %th สถานะ
            %th

        %tbody
          - @user.user_type.appointments.each_with_index do |a,i|
            %tr
              %td= i+1
              %td= a.schedule.date
              %td
                -if a.schedule.shift == 0
                  = "เช้า"
                -else
                  = "บ่าย"
              %th= link_to a.doctor.user.first_name + " " + a.doctor.user.last_name , a.doctor.user
              %th= a.doctor.proficiency
              %td= a.status
              %td
                =link_to "ดู",a
                -if a.status != "Finished"
                  =link_to "เลื่อน",edit_appointment_path(a)
                  =link_to "ยกเลิก", '/destroy_appt/' + a.id.to_s , :data => { :confirm => 'ยืนยันการยกเลิก?'}
  -if @user.user_type_type == 'Doctor'
    .div
    = label_tag 'แผนก'
    = @user.user_type.proficiency


.div
  -if current_user.user_type_type == 'Admin'
    = link_to 'แก้ไข', edit_user_path(@user) ,class: 'btn btn-primary'
    -if @user.user_type_type == 'Doctor'
      = link_to 'กลับ', :back ,class: "btn btn-success"
    -else
      = link_to 'กลับ', users_path ,class: "btn btn-success"
  -else
    = link_to 'แก้ไข', edit_user_registration_path(@user) ,class: 'btn btn-primary'
    -if @user.user_type_type == 'Doctor'
      = link_to 'กลับ', :back ,class: "btn btn-success"
    -else
      = link_to 'กลับ', root_path ,class: "btn btn-success"
