%h1 แก้ไขตารางเวลา
= "สำหรับ ดร." + @user.first_name + " " + @user.last_name
.div
  =link_to 'เพิ่มตาราง' , new_schedule_path(id: @user.id) , method: :get
%table.table
  %thead
    %tr
      %th กะ
      %th วันที่
      %th จำนวนนัด
      %th



  %tbody
    - @schedules.each do |s|
      %tr{:id => "schedule" + s.id.to_s}
        %td
          -if s.shift == 0
            = "เช้า"
          -else
            = "เย็น"
        %td= s.date
        %td= s.appointment
        %td= button_tag "ลบ" , class: 'remove btn btn-danger' , id: s.id

=link_to 'กลับ' , schedules_path
