%h1 ตารางเวลา
-if current_user.user_type_type == 'Doctor'
  = link_to 'เพิ่มตารางเวลา', new_schedule_path(id: current_user.id) , method: :get , class: "btn btn-primary"
-else
  = link_to 'เพิ่มตารางเวลา', new_schedule_path , method: :get , class: "btn btn-primary"

%table.table
  %thead
    %tr
      -if current_user.user_type_type != "Doctor"
        %th id
        %th ชื่อหมอ
      %th ตารางเวลา
      %th


  %tbody
    - @users.each do |user|
      %tr
        -if current_user.user_type_type != "Doctor"
          %td= user.ext_id
          %td= user.first_name + " " + user.last_name
        %td= link_to 'ดูตารางเวลา' , schedule_path(user.id)


        %td
          = link_to 'แก้ไข', edit_schedule_path(user) , method: :get , class: "btn btn-warning"
