%h1 ดูบันทึกข้อมูลผู้ป่วย
= "สำหรับ คุณ " + @physical_record.appointment.patient.user.first_name + " " + @physical_record.appointment.patient.user.last_name
= "วันที " + @physical_record.appointment.schedule.date.to_s
.div
  = label_tag 'สภาพร่างกาย:'
  .div
    = label_tag 'น้ำหนัก'
    = @physical_record.weight
  .div
    = label_tag'ส่วนสูง'
    = @physical_record.height
  .div
    = label_tag 'ความดัน'
    = @physical_record.bloodPressure
  .div
    = label_tag 'อัตราการเต้นของหัวใจ'
    = @physical_record.heartRate

=link_to "แก้ไข" , edit_physical_record_path(@physical_record) , class: 'btn btn-primary'
=link_to "กลับ" , :back , class: 'btn btn-success'
