%h1 เลื่อนการนัดหมาย
= simple_form_for(@appointment) do |f|
  = label_tag 'เวลานัดปัจจุบัน'
  = @appointment.schedule.date.to_s + (@appointment.schedule.shift == 1 ? " : เย็น" : " : เช้า")
  .div
  = label_tag 'เวลานัดที่สามารถเลื่อนไปได้'
  = select_tag "new_date" , options_for_select(@availarray)
  .submit
    = f.button :submit,"ยืนยันการเลื่อน",class: "btn btn-primary"

.back
=link_to 'กลับ' , :back , class: "btn btn-success"
