%h1 ประวัติการนัดหมาย
.div
  %b ชื่อผู้ป่วย :
  = @appointment.patient.user.first_name + " " + @appointment.patient.user.last_name
.div
  %b ชื่อหมอ :
  = @appointment.doctor.user.first_name + " " + @appointment.doctor.user.last_name
.div
  %b วันที่ :
  = @appointment.schedule.date
.div
  %b เวลา:
  = @appointment.schedule.shift == 0 ? "เช้า" : "เย็น"
.div
  %b อาการ:
  = @appointment.symptom
-if @appointment.status == 'Finished'
  .div
    %b คำวินิจฉัย:
    = @appointment.diagnosis_record
  .div
    %b รหัสโรค ICD10:
    = @appointment.icd10
  .div
    %b สภาพร่างกาย:
    .div
      %b น้ำหนัก
      = @appointment.physical_record.weight
    .div
      %b ส่วนสูง
      = @appointment.physical_record.height
    .div
      %b ความดัน
      = @appointment.physical_record.bloodPressure
    .div
      %b อัตราการเต้นของหัวใจ
      = @appointment.physical_record.heartRate
  .div
    %b ใบสั่งยา:
    -if @prescriptions != []
      .previous-prescription
        %table.table
          %thead
            %tr
              %th ยา
              %th จำนวน
              %th วิธีใช้
          %tbody
            - @prescriptions.each do |pr|
              %tr{:id => "prescription" + pr.id.to_s}
                %td= pr.med
                %td= pr.no
                %td= pr.instruction
.back
=link_to 'กลับ' , :back ,class: "btn btn-success"
