.diagnosis_record_form
  = simple_form_for(@appointment) do |f|
    = f.error_notification
    .form-inputs
      = f.input :diagnosis_record , required: true, label: "การวินิจฉัย" ,:input_html => {:rows => 10 , :cols => 50}
      .div
        ใบสั่งยา
      .div
        -if @prescriptions != []
          .previous-prescription
            %table{:border => "1"}
              %thead
                %tr
                  %th ยา
                  %th จำนวน
                  %th
              %tbody
                - @prescriptions.each do |pr|
                  %tr{:id => "prescription" + pr.id.to_s}
                    %td= pr.med
                    %td= pr.no
                    %td= button_tag "ลบ" , type: 'button' , class: 'remove_med' , id: pr.id
      .prescription_slot#1
        = text_field_tag "med0" , "" , placeholder: "ชื่อยา"
        = text_field_tag "no0" , "" , placeholder: "จำนวน"
      .prescription_slot#2
        = text_field_tag "med1", "" , placeholder: "ชื่อยา"
        = text_field_tag "no1", "" ,placeholder: "จำนวน"
      .prescription_slot#3
        = text_field_tag "med2" ,"", placeholder: "ชื่อยา"
        = text_field_tag "no2" ,"", placeholder: "จำนวน"
      .prescription_slot#4
        = text_field_tag "med3" ,"", placeholder: "ชื่อยา"
        = text_field_tag "no3"  ,"", placeholder: "จำนวน"
      .prescription_slot#5
        = text_field_tag "med4" ,"", placeholder: "ชื่อยา"
        = text_field_tag "no4" ,"", placeholder: "จำนวน"


      = f.button :submit, "บันทึก"
